.header{
    background-color: palevioletred;
    color: black;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content:space-between;
    margin: 0%;
    padding: 0%;
    position: sticky;
    border: 2px solid black;
}